In [11]:


from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy.schema import MetaData

db_connection_str = 'mysql+mysqlconnector://root:882489@localhost:3306/tiki_db'
db_connection = create_engine(db_connection_str)
meta = MetaData()
meta.reflect(bind=db_connection)

df = pd.read_sql(f'SELECT category, COUNT(category) NUMBER FROM tiki_info GROUP BY category ORDER BY COUNT(category) DESC LIMIT 10', con=db_connection)
print(df)

                category  NUMBER
0               thu bong    3373
1       dung cu cham soc    2595
2           mo hinh giay    1995
3          tikingon ngon    1989
4          danh cho chim    1976
5  day that lung day nit    1969
6       do choi thu cong    1963
7          phu kien cuoi    1953
8           vi nam ngang    1950
9            vi nam dung    1948

In [18]:
df = pd.read_sql(f'SELECT origin, COUNT(origin) number FROM tiki_info GROUP BY origin ORDER BY COUNT(origin) DESC LIMIT 20', con=db_connection)
plot = df.plot.bar(x='origin', y='number', title='Origin', xlabel='Xuất xứ', ylabel='Số lượng')

In [16]:
df = pd.read_sql(f'SELECT name, SUM(all_time_quantity_sold), rating_average, price FROM tiki_info GROUP BY name,all_time_quantity_sold,rating_average,price ORDER BY SUM(all_time_quantity_sold) DESC, rating_average DESC, price ASC LIMIT 10;', con=db_connection)
print(df)

                                                name
0                       Dầu Đậu Nành Simply 1L/2L/5L  \
1  Dầu Ăn Thượng Hạng Nhãn Hiệu Neptune Light 1L/...
2   Sữa chua ăn TH True Milk có đường 4x100g-3315549
3  Nước Xả Làm Mềm Vải Comfort Chăm Sóc Dịu Nhẹ C...
4             Tấm Đệm Lót Siêu Thấm Caryn (20 Miếng)
5                            Dầu Ăn Cái Lân 1L/2L/5L
6        Chân Giò Xông Khói IKA 500G - 8938500490149
7  [Chỉ giao HCM] Cải ngọt Đà Lạt Co.op Select 45...
8                Bánh bao cade Thọ phát 240g-3280379
9           Chả Giò Thịt Vissan 500G - 8934572261601

   SUM(all_time_quantity_sold)  rating_average     price
0                     127412.0             5.0   65000.0
1                      55119.0             5.0  113500.0
2                      38925.0             4.8  227000.0
3                      35559.0             4.8  206000.0
4                      33967.0             5.0  115000.0
5                      33450.0             5.0   44000.0
6                      25950.0             4.8  227000.0
7                      25950.0             4.8  227000.0
8                      25950.0             4.8  227000.0
9                      25950.0             4.8  227000.0